* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#nav {
  height: 145px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
  gap: 50px;
  position: fixed;
  z-index: 99;
}
#cursor {
  height: 100px;
  width: 100px;
  background-color: #95c11e;
  filter: blur(30px);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
#cursor-blur {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  background-color: #96c11e2b;
  filter: blur(50px);
  z-index: 9;
}

#nav img {
  height: 80px;
  margin-left: 20px;
  margin-right: 40px;
}

#nav h4 {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.064);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 120px;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT.DRINK. PLAY";
  position: absolute;
  color: black;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
  z-index: 10;
}
#page1 p {
  font-size: 20px;
  font-weight: 500;
  width: 40%;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: garamond, serif;
  margin-right: 10px;
  color: transparent;
  -webkit-text-stroke: 2px #95c11e;
  transition: all linear 0.4;
}
#scroller h4:hover {
  color: #95c11e;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-around;
}

#about-us img {
  height: 220px;
  width: 220px;
  object-fit: cover;
  border-radius: 20px;
}
#about-us-in {
  width: 50%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}
#cards-container {
  /* background-color: red; */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 24%;
  /* background-color: blue; */
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(https://plus.unsplash.com/premium_photo-1762202949427-33b9209d699c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1015);
}
#card2 {
  background-image: url(https://images.unsplash.com/photo-1762172537592-7b973b378cfe?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
}
#card3 {
  background-image: url(https://plus.unsplash.com/premium_photo-1760010673636-9b7d7e8ebe70?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=500);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  padding: 30px;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: rgb(42, 29, 29);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}
.overlay p {
  color: black;
  font-size: 18px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background: linear-gradient(to left bottom, #42723e, #ace022);
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: black;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 800;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}
#page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
}

#page3 > p {
  font-size: 30px;
  font-weight: 700;
  width: 55%;
  text-align: center;
  line-height: 45px;
}
#page3 img {
  height: 60px;
}
#page3 #colon1 {
  position: absolute;
  left: 15%;
  top: 25%;
}
#page3 #colon2 {
  position: absolute;

  right: 15%;
  bottom: 25%;
}
#page4 {
  height: 50vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2 {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #95c11e;
  color: black;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: white;
  background-color: transparent;
}
.elem:hover img {
  scale: 1.1;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#footer img {
  height: 50%;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding-left: 40px;
}

#footer ul{
    list-style: none;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;

}
#footer ul li{
   color: black;
    margin-bottom: 10px;
}
